/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Centraliza o conteúdo na página */
#container {
    margin-top: 50px; /* Adiciona algum espaço no topo */
    text-align: center;
}

/* Título */
#title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Exibe o tempo calculado */
#time {
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
}

/* Carrossel de imagens */
.image-slider {
    margin-top: 20px;
    position: relative;
    width: 250px; /* Defina uma largura fixa para o carrossel */
    height: 250px; /* Defina uma altura fixa */
    margin: 0 auto; /* Centraliza o carrossel */
    overflow: hidden;
}

/* As imagens dentro do carrossel */
.images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.images img {
    width: 250px; /* Ajuste o tamanho das imagens */
    height: 250px; /* Ajuste a altura das imagens */
    object-fit: cover; /* Ajusta a imagem para não distorcer */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; /* Todas as imagens começam invisíveis */
}

/* Exibição da imagem ativa */
.images img.active {
    display: block; /* Apenas a imagem com a classe 'active' será visível */
}

/* Para os corações subindo */
#hearts {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;
}

@keyframes heart-animation {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-200px) scale(1.5);
    }
}

/* Animação dos corações */
#hearts::before {
    content: "❤️";
    font-size: 30px;
    animation: heart-animation 4s infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
